body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black; 
    margin: 2.5rem;
}

.button {
    display: flex;
    justify-content: center;   
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}

